@font-face {
		font-family: 'Oswald';
    src: url('../fonts/Oswald/oswald-extralight.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-extralight.woff') format('woff'),
         url('../fonts/Oswald/oswald-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
		font-family: 'Oswald';
    src: url('../fonts/Oswald/oswald-light.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-light.woff') format('woff'),
         url('../fonts/Oswald/oswald-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
		font-family: 'Oswald';
    src: url('../fonts/Oswald/oswald-medium.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-medium.woff') format('woff'),
         url('../fonts/Oswald/oswald-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
		font-family: 'Oswald';
    src: url('../fonts/Oswald/oswald-regular.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular.woff') format('woff'),
         url('../fonts/Oswald/oswald-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
		font-family: 'Oswald';
    src: url('../fonts/Oswald/oswald-semibold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-semibold.woff') format('woff'),
         url('../fonts/Oswald/oswald-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
		font-family: 'Oswald';
    src: url('../fonts/Oswald/oswald-bold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-bold.woff') format('woff'),
         url('../fonts/Oswald/oswald-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RubikMonoOne';
    src: url('../fonts/RubikMonoOne/rubikmonoone-regular.woff2') format('woff2'),
         url('../fonts/RubikMonoOne/rubikmonoone-regular.woff') format('woff'),
         url('../fonts/RubikMonoOne/rubikmonoone-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}