$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;

$main-font: 'Oswald', sans-serif;
$header-font: 'Rubik Mono One', sans-serif;


html {
	overflow-x: hidden;
}
body {
	overflow: hidden;
	font-family: $main-font;
	a {
		text-decoration: none;
		transition: all 0.35s linear;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	margin-top: 0;
}

.btn__lp {
	display: block;
	position: relative;
	z-index: 10;
	width: 100%;
	border: none;
	outline: none;
	padding: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: transparent;
	transition: all 0.3s linear;
	cursor: pointer;
	font-family: $main-font;
	overflow: hidden;
	&:hover {
		&::before {
			transform: rotate(0deg) translateY(-50%);
			left: 0;
			opacity: 0;
		}
		.btn__lp__text {
			background-color: #fff;
			transform: skew(0deg) translateX(0px);
			span {
				transform: skew(0deg);
			}
		}
	}
	&::before {
		content: '';
		position: absolute;
		z-index: 10;
		width: 1px;
		height: 72px;
		background-color: #fff;
		transform: rotate(30deg) translateY(-50%);
		top: 45%;
		left: 25px;
		opacity: 1;
		transition: all 0.2s linear, opacity 0.25s linear;
	}
	&.top-callback {
		max-width: 200px;
	}
	&__bg {
		display: block;
		width: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		position: relative;
		z-index: 5;
		border: 1px solid #FFFFFF;
		background-color: #000;
	}
	&__text {
		display: block;
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: 50px;
		z-index: 7;
		background-color: #FF8A00;
		text-align: left;
		font-size: 18px;
		line-height: 26px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 25px;
		color: #000;
		transform: skew(-30deg) translateX(44px);
		transition: transform 0.2s linear, background-color 0.3s linear, text-indent 0.25s linear;
		span {
			display: block;
			transform: skew(30deg);
			transition: transform 0.2s linear;
		}
	}
}
// Header section
.header__lp {
	width: 100%;
	padding-bottom: 10px;
	position: relative;
	z-index: 15;
	background-image: url('../img/header-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media screen and (min-width: $landscape-lg) {
		.col-12 {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
	&__top {
		width: 100%;
		@media screen and (min-width: $landscape-lg) {
			border-bottom: 1px solid #8F8F8F;
		}
	}
	&__logo {
		display: block;
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
		margin-bottom: 15px;
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
	}
	&__phone {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 30px;
		color: #fff;
		@media screen and (min-width: $landscape-lg) {
			width: auto;
			margin: 0;
			margin-left: auto;
			margin-right: 25px;
		}
		&:hover {
			color: #FF8A00;
		}
	}
	.top-callback {
		margin: 0 auto;
		margin-bottom: 40px;
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
	}
	&__title {
		width: 100%;
		position: relative;
		z-index: 10;
		text-align: center;
		font-size: 30px;
		line-height: 40px;
		color: #fff;
		margin-bottom: 40px;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-lg) {
			font-size: 48px;
			line-height: 59px;
			text-align: left;
		}
		@media screen and (min-width: $desktop) {
			max-width: 470px;
			margin-bottom: 127px;
			padding-left: 20px;
			&::after {
				content: '';
				position: absolute;
				width: 483px;
				height: 74px;
				border: 1px solid #8F8F8F;
				bottom: -10px;
				left: 0px;
			}
		}
	}
	&__descr {
		width: 100%;
		position: relative;
		z-index: 10;
		max-width: 300px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		margin-top: 0;
		margin-bottom: 20px;
		letter-spacing: 0.02em;
		@media screen and (min-width: $landscape-sm) {
			max-width: 466px;
			margin: 0;
			margin-bottom: 50px;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-left: 160px;
			margin-bottom: 150px;
		}
		span {
			display: block;
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__body {
		.container {
			position: relative;
			z-index: 5;
			@media screen and (min-width: $landscape-lg) {
				padding-top: 66px;
			}
		}
	}
	&__saw {
		position: absolute;
		bottom: -135px;
		left: 0;
		z-index: 1;
		width: 332px;
		height: 420px;
		background-image: url('../img/header-saw.svg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		@media screen and (min-width: $landscape-lg) {
			bottom: -240px;
		}
	}
	&__decor {
		display: none;
		@media screen and (min-width: $desktop) {
			display: block;
			position: absolute;
			z-index: 10;
			top: 107px;
			right: 25px;
			width: 279px;
			height: 380px;
			background-image: url('../img/header-decor.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			&::before {
				content: '';
				position: absolute;
				z-index: 7;
				width: 873px;
				height: 873px;
				border-radius: 50%;
				border: 1px dashed #6B6B6B;
				background-color: transparent;
				top: -70px;
    		left: -110px;
			}
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 670px;
				background-color: #6B6B6B;
				top: -35px;
    		left: 25px;
    		transform-origin: center;
				transform: rotate(30deg);
			}
		}
	}
}
// Header section END

// How we work section
.how__we__work {
	width: 100%;
	position: relative;
	z-index: 14;
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 75px;
	@media screen and (min-width: $mobile-sm) {
		&::before {
			content: '';
			position: absolute;
			z-index: 13;
			width: 375px;
			height: 373px;
			background-image: url('../img/how-we-work-decor-1.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			top: -50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@media screen and (min-width: $landscape-lg) {
				width: 753px;
				height: 747px;
				left: auto;
				transform: none;
				top: -350px;
				right: 6%;
			}
		}
	}
	@media screen and (min-width: $landscape-lg) {
		padding-top: 107px;
	}
	@media screen and (min-width: $desktop) {
		&::after {
			content: '';
			position: absolute;
			z-index: 10;
			width: 873px;
			height: 873px;
			border-radius: 50%;
			border: 1px dashed rgba(107, 107, 107, 0.5);
			bottom: -330px;
			left: -235px;
		}
	}
	&__title {
		width: 100%;
		margin-bottom: 40px;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
			line-height: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 468px;
			margin-bottom: 70px;
			font-size: 48px;
			line-height: 59px;
			text-align: left;
		}
		span {
			color: #FF8A00;
		}
	}
	&__steps {
		width: 100%;
		position: relative;
		z-index: 5;
		margin: 0;
		padding: 0;
		list-style-type: none;
		counter-reset: steps;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $desktop) {
			flex-direction: column;
			align-items: flex-start;
			max-height: 580px;
			&::before {
				content: '';
				position: absolute;
				z-index: 4;
				width: 1px;
				height: 428px;
				background-color: #6B6B6B;
				transform: rotate(30deg);
				top: 10px;
				left: 300px;
			}
			&::after {
				content: '';
				position: absolute;
				z-index: 4;
				width: 1px;
				height: 428px;
				background-color: #6B6B6B;
				transform: rotate(-30deg);
				top: 100px;
    		right: 320px;
			}
		}
		&__el {
			width: 100%;
			margin-bottom: 40px;
			padding-left: 45px;
			position: relative;
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.02em;
			color: #000;
			font-weight: 300;
			@media screen and (min-width: $landscape-sm) {
				max-width: 45%;
			}
			@media screen and (min-width: $landscape-lg) {
				margin-bottom: 70px;
			}
			@media screen and (min-width: $desktop) {
				&:nth-of-type(n+1) {
					max-width: 260px;
				}
				&:nth-of-type(n+4) {
					max-width: 390px;
					margin-left: auto;
				}
				&:nth-of-type(n+7) {
					max-width: 225px;
				}
				&:nth-of-type(4) {
					margin-top: 170px;
				}
				&:nth-of-type(7) {
					margin-top: 205px;
				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			&::before {
				counter-increment: steps;
				content: counter(steps) ".";
				position: absolute;
				top: -32px;
				left: 0;
				font-size: 48px;
				line-height: 71px;
				color: #FF8A00;
				letter-spacing: 0.02em;
				font-weight: 500;
			}
			b {
				display: block;
				font-size: 24px;
				font-weight: 500;
			}
		}
	}
	&__decor__circle {
		display: none;
		@media screen and (min-width: $desktop) {
			display: block;
			position: absolute;
			width: 644px;
			height: 120px;
			overflow: hidden;
			bottom: 0px;
			left: 50px;
			@media screen and (min-width: 1440px) {
				left: 80px;
			}
			@media screen and (min-width: 1600px) {
				left: 160px;
			}
			@media screen and (min-width: 1920px) {
				left: 320px;
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 644px;
				height: 644px;
				border-radius: 50%;
				bottom: 0px;
				left: 0px;
				background-color: #F4F4F4;
			}
		}
	}
}
// How we work section END

// Services section
.services {
	width: 100%;
	position: relative;
	z-index: 13;
	overflow: hidden;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url('../img/service-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (min-width: $mobile-sm) and (max-width: $desktop - 1) {
		&::before {
			content: '';
			position: absolute;
			width: 850px;
    	height: 850px;
			border-radius: 50%;
			background-color: #FF8A00;
			top: -205px;
    	left: -300px;
		}
	}
	@media screen and (min-width: $landscape-sm) and (max-width: $desktop - 1) {
		&::before {
			top: -445px;
    	left: -170px;
		}
	}
	@media screen and (min-width: $landscape-lg) and (max-width: $desktop - 1) {
		&::before {
			top: -345px;
    	left: -90px;
		}
	}
	@media screen and (min-width: $desktop) {
		overflow: visible;
		&::before {
			content: '';
			position: absolute;
			width: 644px;
			height: 644px;
			border-radius: 50%;
			top: -120px;
			left: 50px;
			background-color: #FF8A00;
			@media screen and (min-width: 1440px) {
				left: 80px;
			}
			@media screen and (min-width: 1600px) {
				left: 160px;
			}
			@media screen and (min-width: 1920px) {
				left: 320px;
			}
		}
	}
	.container {
		position: relative;
		z-index: 10;
	}
	&__title {
		width: 100%;
		margin-bottom: 40px;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
			line-height: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 468px;
			margin-bottom: 90px;
			font-size: 48px;
			line-height: 59px;
			text-align: left;
		}
	}
	&__list {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap;
		&__item {
			width: 100%;
			margin-bottom: 50px;
			cursor: pointer;
			&:hover {
				.services__list__item__name {
					color: #000;
					span {
						&::after {
							border-color: #000;
							right: -35px;
						}
					}
				}
			}
			&:nth-of-type(n+3) {
				&:hover {
					.services__list__item__name {
						color: #FF8A00;
						span {
							&::after {
								border-color: #FF8A00;
							}
						}
					}
				}	
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 33%;
			}
			@media screen and (min-width: $desktop) {
				max-width: 25%;
				margin-bottom: 125px;
				&:nth-of-type(n+4) {
					margin-bottom: 0;
				}
			}
			&__icon {
				width: 100%;
				padding-left: 25px;
				margin-bottom: 15px;
			}
			&__name {
				width: 100%;
				text-align: center;
				font-size: 24px;
				line-height: 36px;
				font-weight: 500;
				color: #fff;
				letter-spacing: 0.02em;
				transition: all 0.3s linear;
				@media screen and (min-width: $desktop) {
					text-align: left;
					padding-left: 65px;
				}
				span {
					display: inline-block;
					position: relative;
					width: auto;
					&::after {
						content: '';
						position: absolute;
						width: 22px;
						height: 22px;
						border-right: 5px solid #fff;
						border-bottom: 5px solid #fff;
						transform: rotate(-45deg);
						top: 10px;
						right: -30px;
						transition: all 0.3s linear;
					}
				}
			}
		}
	}
}
// Services section END

// Our work section
.our__work {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 10;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 82px;
		padding-bottom: 82px;
		&::before {
			content: '';
			position: absolute;
			width: 754px;
			height: 746px;
			background-image: url('../img/how-we-work-decor-1.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			bottom: -266px;
			left: -255px;
			@media screen and (min-width: 1920px) {
				left: -55px;
			}
		}
	}
	&__title {
		width: 100%;
		margin-bottom: 40px;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
			line-height: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 468px;
			margin-bottom: 60px;
			font-size: 48px;
			line-height: 59px;
			text-align: left;
		}
		span {
			color: #FF8A00;
		}
	}
	&__slider {
		width: 100%;
		padding-bottom: 55px;
		@media screen and (min-width: $landscape-lg) {
			padding-left: 60px;
		}
		&__item {
			width: 290px;
			height: 290px;
			margin-right: 20px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			&:last-of-type {
				margin-right: 0;
			}
		}
		.swiper-scrollbar {
			width: 100%;
			height: 4px;
			max-width: 300px;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			background-color: #DADADA;
		}
		.swiper-scrollbar-drag {
			background-color: #000;
		}
	}
}
// Our work section END

// Calculator section
.calculator {
	width: 100%;
	position: relative;
	z-index: 15;
	background-color: #000;
	padding-top: 70px;
	padding-bottom: 70px;
	&__title {
		width: 100%;
		margin-bottom: 50px;
		font-size: 24px;
		line-height: 36px;
		text-align: left;
		color: #fff;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
			line-height: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 550px;
			margin-bottom: 70px;
			font-size: 40px;
			line-height: 50px;
			text-align: left;
		}
		span {
			color: #FF8A00;
		}
	}
}
.calculator__form {
	width: 100%;
	&__row {
		width: 100%;
		margin-bottom: 35px;
		padding-bottom: 30px;
		border-bottom: 1px solid #8F8F8F;
		&:last-of-type {
			border-bottom: none;
		}
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
	}
	&__controls {
		width: 100%;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-weight: normal;
		}
		@media screen and (min-width: $desktop) {
			width: calc(100% - 269px);
		}
	}
	&__label {
		display: block;
		position: relative;
		width: auto;
		font-size: 30px;
		line-height: 38px;
		letter-spacing: 0.02em;
		color: #fff;
		&::before {
			content: '';
			position: absolute;
			width: 4px;
			height: 10px;
			background-color: #fff;
			transition: transform 0.17s linear, opacity 0.15s linear;
			top: 50%;
			left: -29px;
			transform: translateY(-50%);
			transform-origin: center bottom;
			opacity: 0;
			z-index: 5;
		}
		&::after {
			content: '';
			position: absolute;
			width: 4px;
			height: 16px;
			background-color: #fff;
			transition: transform 0.17s linear, opacity 0.15s linear;
			top: 41%;
			left: -29px;
			transform: translateY(-50%);
			transform-origin: center bottom;
			opacity: 0;
			z-index: 7;
		}
		&__wrap {
			width: 100%;
			margin-bottom: 25px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			@media screen and (min-width: $desktop) {
				max-width: 269px;
				margin-bottom: 0;
			}
			.decor__checkbox__square {
				display: block;
				margin-right: 15px;
				width: 24px;
				height: 24px;
				border: 1px solid #696969;
			}
		}
	}
	&__checkbox {
		display: none;
		+ .calculator__form__label {
			cursor: pointer;
		}
		&:checked + .calculator__form__label {
			&::before {
				top: 50%;
    		left: -30px;
    		opacity: 1;
    		transform: translateY(-50%) rotate(-45deg);
			}
			&::after {
				top: 40%;
    		left: -32px;
    		opacity: 1;
    		transform: translateY(-50%) rotate(45deg);
			}
		}
	}
	&__input {
		display: block;
		width: auto;
		min-width: 45px;
		margin-right: 20px;
		border: none;
		outline: none;
		padding: 0;
		background-color: transparent;
		border-bottom: 1px solid #fff;
		font-size: 20px;
		line-height: 30px;
		color: #fff;
		transition: border-color 0.3s linear;
		&.error {
			border-color: red;
		}
		&:focus {
			border-color: #FF8A00;
		}
		@media screen and (min-width: $desktop) {
			margin-left: 30px;
		}
		&.num {
			display: block;
			@media screen and (min-width: $desktop) {
				display: none;
			}
		}
		&.text {
			display: none;
			@media screen and (min-width: $desktop) {
				display: block;
			}
		}
		&__wrap {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			flex-wrap: nowrap;
			@media screen and (min-width: $landscape-sm) {
				max-width: 200px;
				margin-left: 25px;
			}
			@media screen and (min-width: $desktop) {
				margin-left: 20px;
				margin-top: 20px;
			}
			span {
				display: block;
				width: auto;
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.02em;
				color: #fff;
			}
		}
	}
	&__summ {
		width: 100%;
		text-align: left;
		font-size: 30px;
		line-height: 44px;
		letter-spacing: 0.02em;
		color: #fff;
		font-weight: 500;
		@media screen and (min-width: $landscape-sm) {
			text-align: right;
		}
		&__numm {
			margin-left: 25px;
		}
	}
	&__submit {
		max-width: 270px;
		margin: 0 auto;
		margin-top: 30px;
	}
}

// Customize selectmenu
.ui-selectmenu-button.ui-button {
	display: block;
	width: 100%;
	// max-width: 300px;
	height: auto;
	border-radius: 0;
	outline: none;
	padding: 0;
	padding-top: 7px;
	padding-bottom: 11px;
	padding-left: 20px;
	margin: 0;
	margin-bottom: 25px;
	border: 1px solid #FFFFFF;
	background-color: #000;
	font-family: $main-font;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	letter-spacing: 0.02em;
	transition: border-color 0.3s linear;
	@media screen and (min-width: $landscape-sm) and (max-width: $landscape-lg - 1) {
		max-width: 270px;
		margin-bottom: 0;
		&:not(:first-of-type) {
			margin-left: -1px;
		}
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 270px;
		margin-left: 20px;
		margin-bottom: 0;
	}
	@media screen and (min-width: $desktop) {
		&:not(:first-of-type) {
			margin-left: 20px;
		}
	}
	&.ui-selectmenu-button-open {
		border-color: #FF8A00;
		.ui-selectmenu-icon.ui-icon {
			border-color: #FF8A00;
			transform: rotate(135deg);
		}
	}
	.ui-selectmenu-icon.ui-icon {
		background-image: none;
		display: block;
		position: absolute;
		top: 15px;
		left: auto;
		right: 16.5px;
		width: 15px;
		height: 15px;
		border-left: 5px solid #fff;
		border-bottom: 5px solid #fff;
		transform-origin: center;
		transform: rotate(-45deg);
		transition: border-color 0.3s linear, transform 0.25s linear;
	}
}
.ui-selectmenu-menu .ui-menu {
	border: 1px solid #FF8A00;
	border-radius: 0;
	background-color: #000;
	margin-top: -1px;
	list-style-type: none;
	padding: 0;
	.ui-menu-item {
		list-style-image: none;
		border-bottom: 1px solid #FF8A00;
		&:last-of-type {
			border-bottom: none;
		}
	}
	.ui-menu-item-wrapper {
		border: none;
		padding: 0;
		margin: 0;
		padding-top: 7px;
		padding-bottom: 11px;
		padding-left: 20px;
		font-family: $main-font;
		font-size: 20px;
		line-height: 30px;
		color: #fff;
		letter-spacing: 0.02em;
		transition: all 0.3s linear;
		&.ui-state-active,
		&.ui-widget-content .ui-state-active {
			border: none;
			background-color: #fff;
			color: #000;
		}
	}
}
// Customize selectmenu END

// Calculator section END

// FAQ section
.faq {
	width: 100%;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (min-width: $desktop) {
		padding-top: 90px;
		padding-bottom: 70px;
	}
	&__title {
		width: 100%;
		margin-bottom: 50px;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
			line-height: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 360px;
			font-size: 48px;
			line-height: 59px;
			text-align: left;
		}
		span {
			color: #FF8A00;
		}
	}
	&__block {
		width: 100%;
		&__item {
			width: 100%;
			margin-bottom: 30px;
			&:last-of-type {
				margin-bottom: 0;
			}
			&__question {
				position: relative;
				border: 1px solid #000000;
				padding: 20px 30px;
				padding-right: 70px;
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.02em;
				color: #000;
				font-weight: 600;
				cursor: pointer;
				transition: all 0.3s linear;
				&.active {
					background-color: #000;
					color: #fff;
					&::after {
						border-color: #fff;
						transform: rotate(135deg);
						top: 30px;
					}
				}
				&::after {
					content: '';
					position: absolute;
					top: 25px;
					right: 27px;
					width: 16px;
					height: 16px;
					border-left: 5px solid #000;
					border-bottom: 5px solid #000;
					transform-origin: center;
					transform: rotate(-45deg);
					transition: border-color 0.3s linear, transform 0.25s linear;
				}
			}
			&__answer {
				display: none;
				width: calc(100% - 30px);
				margin: 0;
				margin-left: 30px;
				margin-top: 30px;
				padding: 0;
				padding-bottom: 20px;
				border-bottom: 1px solid #8F8F8F;
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.02em;
				color: #000;
				font-weight: 300;
			}
		}
	}
}
// FAQ section END

// Bottom request
.bottom__request {
	width: 100%;
	padding-top: 65px;
	padding-bottom: 65px;
	background-image: url('../img/bottom-request-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (min-width: $landscape-lg) {
		min-height: 340px;
	}
	&__title {
		width: 100%;
		margin-bottom: 50px;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 30px;
			line-height: 40px;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 10px;
			font-size: 48px;
			line-height: 59px;
			text-align: left;
		}
	}
	&__descr {
		width: 100%;
		margin-top: 0;
		text-align: center;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.02em;
		color: #fff;
		@media screen and (min-width: $landscape-lg) {
			text-align: left;
		}
	}
	&__form {
		width: 100%;
		@media screen and (min-width: $landscape-lg) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__input {
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			margin-bottom: 25px;
			border: none;
			outline: none;
			background-color: transparent;
			padding-top: 7px;
			padding-bottom: 11px;
			padding-left: 20px;
			border: 1px solid #fff;
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.02em;
			color: #fff;
			font-weight: 600;
			transition: border-color 0.3s linear;
			&::placeholder {
				color: #fff;
			}
			&.error {
				border-color: red;
			}
			&:focus {
				border-color: #FF8A00;
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 250px;
				margin: 0;
				margin-bottom: 0;
			}
			@media screen and (min-width: $desktop) {
				max-width: 270px;
			}
		}
		&__submit {
			max-width: 250px;
			margin: 0 auto;
			@media screen and (min-width: $landscape-lg) {
				max-width: 250px;
				margin: 0 auto;
				margin-top: 25px;
			}
			@media screen and (min-width: $desktop) {
				margin: 0;
			}
		}
		&__policy {
			width: 100%;
			margin-top: 10px;
			text-align: center;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: 0.02em;
			font-weight: 300;
			color: #fff;
			a {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
	&__thanks {
		display: none;
		width: 100%;
		font-size: 30px;
		line-height: 40px;
		font-family: 'Rubik Mono One';
		text-align: left;
		text-transform: uppercase;
		color: #fff;
		@media screen and (min-width: $landscape-lg) {
			font-size: 40px;
			line-height: 50px;
			padding-top: 100px;
		}
	}
}
// Bottom request END

// Footer
.footer__map__obj {
	width: 100%;
	position: relative;
	z-index: 15;
	background-color: #fff;
	padding-top: 45px;
	@media screen and (min-width: $landscape-lg) {
		padding-bottom: 140px;
	}
	&__info {
		width: 100%;
		position: relative;
		z-index: 11;
		max-width: 300px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid #000000;
		padding: 30px;
		padding-bottom: 40px;
		@media screen and (min-width: $landscape-sm) {
			max-width: 367px;
			margin: 0;
		}
	}
	&__title {
		width: 100%;
		margin-bottom: 40px;
		font-size: 20px;
		line-height: 30px;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-lg) {
			text-align: left;
			font-size: 30px;
			line-height: 40px;
		}
	}
	&__el {
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 27px;
		color: #000;
		font-weight: 300;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__phone,
	&__mail {
		display: block;
		width: 100%;
		margin-bottom: 0px;
		font-size: 18px;
		line-height: 27px;
		color: #000;
		font-weight: 300;
		transition: color 0.2s linear;
		&:hover {
			color: #FF8A00;
		}
	}
}
.footer__map {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 300px;
	max-height: 302px;
	margin-top: 25px;
	iframe {
		height: 100%;
		min-height: 302px;
		max-height: 302px;
	}
	@media screen and (min-width: $landscape-lg) {
		position: absolute;
		margin: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.footer__copyright {
	width: 100%;
	background-color: #000;
	padding-top: 13px;
	padding-bottom: 13px;
	.container {
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
	.main-copyright-link {
		width: 100%;
		margin-top: 0;
		margin-bottom: 15px;
		text-align: center;
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		font-weight: 300;
		a {
			display: block;
			color: #fff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		@media screen and (min-width: $landscape-sm) {
			max-width: 33.33%;
			margin-bottom: 0;
			text-align: left;
		}
	}
	.main-copyright {
		width: 100%;
		margin-top: 0;
		margin-bottom: 15px;
		text-align: center;
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		font-weight: 300;
		@media screen and (min-width: $landscape-sm) {
			max-width: 33.33%;
			margin-bottom: 0;
		}
	}
	.dev-copyright {
		width: 100%;
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		font-weight: 300;
		@media screen and (min-width: $landscape-sm) {
			max-width: 33.33%;
			margin-bottom: 0;
			justify-content: flex-end;
		}
		a {
			display: block;
			margin-top: 1px;
			margin-left: 5px;
			width: 60px;
			height: 14px;
			background-image: url('../img/texterra-logo.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			font-size: 0;
		}
	}
}

// Pop-up content
.underlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	top: 0;
	left: 0;
	z-index: 25;
	transition: visibility 0s linear 0.2s, opacity 0.3s linear;
	&.opened {
		visibility: visible;
		opacity: 1;
		transition-delay:0s;
	}
}
.pop__up {
	display: none;
	width: 100%;
	max-width: 300px;
	background-color: #fff;
	position: fixed;
	z-index: 30;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 20px;
	transition: visibility 0s linear 0.1s;
	&.thanks {
		padding-top: 65px;
		padding-bottom: 35px;
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 91px 91px;
			border-color: transparent transparent #000000 transparent;
			bottom: 0;
			right: 0;
		}
	}
	&.calc-request {
		height: 85vh;
		overflow-y: auto;
		@media screen and (min-width: $desktop) {
			height: auto;
		}
	}
	@media screen and (min-width: $landscape-sm) {
		padding: 44px 35px;
		max-width: 356px;
	}
	&__close {
		position: absolute;
		z-index: 31;
		width: 19px;
		height: 19px;
		top: 30px;
		right: 20px;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 5px;
			height: 19px;
			background-color: #AFAFAF;
			top: 50%;
			left: 50%;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
	&__title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 20px;
		font-family: $header-font;
		font-size: 30px;
		line-height: 40px;
		color: #000;
		text-transform: uppercase;
		span {
			color: #FF8A00;
		}
		@media screen and (min-width: $landscape-lg) {
			font-size: 40px;
			line-height: 50px;
		}
	}
	&__descr {
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.002em;
		color: #000;
	}
	&__form {
		width: 100%;
		&__input {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			border: none;
			outline: none;
			border: 1px solid #000;
			padding-top: 11px;
			padding-bottom: 11px;
			padding-left: 23px;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.02em;
			color: #000;
			transition: border-color 0.3s linear;
			&.error {
				border-color: red;
			}
			&:focus {
				border-color: #FF8A00;
			}
			&::placeholder {
				color: #000;
			}
		}
	}
	&__submit {
		margin-bottom: 15px;
		&:hover {
			.btn__lp__text {
				background-color: #ff8a00;
			}
		}
		&::before {
			background-color: #000;
		}
		.btn__lp__bg {
			background-color: #fff;
			border-color: #000;
		}
	}
	&__policy {
		width: 100%;
		margin: 0;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: #000;
		font-weight: 300;
		a {
			color: #000;
			text-decoration: underline;
		}
	}
}

.pop__up {
	&.product {
		display: none;
		padding: 60px 0;
		padding-bottom: 0;
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		overflow-y: auto;
		opacity: 1;
		visibility: visible;
		@media screen and (min-width: $landscape-lg) {
			height: 100vh;
		}
	}
	&__product__content {
		width: 100%;
		padding: 0px 20px;
		padding-bottom: 40px;
		@media screen and (min-width: $landscape-lg) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 0px 40px;
			padding-bottom: 40px;
		}
		&__image {
			display: block;
			width: 100%;
			margin: 0 auto;
			margin-bottom: 25px;
			@media screen and (min-width: $landscape-lg) {
				max-width: 411px;
				margin: 0;
			}
		}
		&__text {
			width: 100%;
			@media screen and (min-width: $landscape-lg) {
				width: calc(100% - 456px);
			}
		}
		&__title {
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
			font-family: $header-font;
			font-size: 30px;
			line-height: 40px;
			color: #000;
			text-transform: uppercase;
			@media screen and (min-width: $landscape-lg) {
				font-size: 36px;
				line-height: 45px;
			}
		}
		&__descr {
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 20px;
			line-height: 33px;
			font-weight: 300;
			color: #000;
		}
		.product-callback {
			max-width: 200px;
			&:hover {
				.btn__lp__text {
					background-color: #ff8a00;
				}
			}
			&::before {
				background-color: #000;
			}
			.btn__lp__bg {
				background-color: #fff;
				border-color: #000;
			}
		}
	}
	&__product__price {
		width: 100%;
		padding: 15px 20px;
		background-color: #000;
		@media screen and (min-width: $landscape-lg) {
			padding: 30px 40px;
		}
		&__title {
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
			font-family: $header-font;
			font-size: 30px;
			line-height: 40px;
			color: #fff;
			text-transform: uppercase;
			@media screen and (min-width: $landscape-lg) {
				font-size: 36px;
				line-height: 45px;
			}
		}
		&__row {
			width: 100%;
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			border-bottom: 2px solid #E2E2E2;
		}
		&__cell {
			width: 100%;
			padding-bottom: 15px;
			font-size: 20px;
			line-height: 36px;
			color: #fff;
			@media screen and (min-width: $landscape-sm) {
				max-width: 50%;
			}
		}
	}
}

// Animation for popups
.scale-out-center {
	animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-center {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    visibility: visible;
    transition-delay: 0s;
  }
}

.scale-in-center {
	animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
.to__top {
	position: fixed;
	z-index: 20;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	display: block;
	border: none;
	outline: none;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #C5C5C5;
	background-image: url('../img/to-top-icon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 0.1s, opacity 0.3s linear;
	@media screen and (min-width: $landscape-lg) {
		right: 50px;
	}
	&.fixed {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}